[2014-12-19 21:34] EJDomi opened #1 "test run of b2gedmntuples_cfg.py"
after following directions of readme, running b2gedmntuples_cfg.py gives fatal exception:

An exception of category 'ConfigFileReadError' occurred while
   [0] Processing the python configuration file named b2gedmntuples_cfg.py
Exception Message:
python encountered the error: <type 'exceptions.ImportError'>
No module named B2GAnaFW.B2GAnaFW.b2gedmntuples_cff

[2014-12-24 19:04] ferencek opened #2 "Storing subjets"
Hi,

Is there a plan to store subjets of fat jets and corresponding "links" between the two jet collections?

Thanks,
Dinko

[2014-12-30 00:41] #1 closed, assigned to nobody

[2015-01-21 14:17] dmajumder commented on #2
We now have pruned subjets with btag in the Ntuplizer.

[2015-01-21 14:17] #2 closed

[2015-01-21 14:24] dmajumder opened #5 "PU and other developments"
We're still cleaning up the master, so I suggest any new developments go into another branch, which we can later merge.

[2015-01-21 17:40] ferencek commented on #2
@dmajumder, this is great news. What is the procedure now to go from fat jets to subjets?

[2015-01-22 08:41] dmajumder commented on #2
@ferencek we provide indices corresponding to the subjets for each pruned fat jet (same procedure as BtagAnalyzer). There is still a bit of development here, since we store only 2 subjets, but are currently modifying it to store up to 4. This can then be used with other jet groomers.

[2015-01-28 22:09] rappoccio commented on #2
Hi, Guys, I'm trying to optimize this, and there are a lot of things in the workflow that are wrong, extraneous, duplicated, or not necessary. One egregious problem is that there's no reason to rerun jets that are already run in RECO and in the miniAOD (AK4 and AK8). However, it seems that the subjet b-tagging recipe here [1] needs to actually re-run jets to get the subjets, or at least to have gr

[2015-01-28 22:55] ferencek commented on #2
Hi, Sal,

In Run 1 the explicit jet track association was never used in b tagging, neither for subjets nor standard jets. For Run 2 the explicit JTA is now enabled for subjets (unfortunately, this makes b tagging dependent on the jet grooming algorithm which is not ideal but that's what it is). The extra use of resources comes from the subjet flavor which requires groomed and ungroomed fat jets as

[2015-01-28 23:32] rappoccio commented on #2
Hi, Dinko,

OK, but can't we do all of that in the PRODUCTION of the miniaod's instead of re-running it in entirety? In the meantime can't we just switch off the subjet flavor until the next miniaod production? It's not so critical for PHYS14.

For the B2G ntuples, the scope is to give non-expert end users access to a reasonable default configuration to use the tools that are already in miniAOD. M

[2015-01-28 23:53] ferencek commented on #2
Hi, Sal,

On 01/28/2015 06:32 PM, rappoccio wrote:

In principle, it should be possible and I guess that should probably be
our longer term goal.

Yes, in the call to the addJetCollection() function for subjets, just
add the following option

getJetMCFlavour = False

That should disable adding the flavor information to subjets.

Cheers,
Dinko

[2015-01-29 08:16] alschmid commented on #2
Hi,
after thinking a bit I agree. We had as a goal of PHYS14 to estimate the b-tag performance with the new algorithms and the new way of accessing through miniAOD etc... This would require truth information for subjets. However, this is not the scope of the B2G ntuple. This can be done directly in miniAOD or the btag ntuple. So indeed, let's keep the B2G ntuple as slim as possible for the standar

[2015-01-29 14:25] rappoccio commented on #2
Hi, Dinko,

OK, I think getting this into MiniAOD is a huge priority. Can you take care of that?

For now I will switch off the MC flavor.

Thanks,
Sal

[2015-01-29 14:31] ferencek commented on #2
@alschmid, I must admit I don't completely understand what we are concerned about here. Running or not running the subjet flavor has nothing to do with the slimness of the final ntuples. Let me explain what I mean. MiniAOD is designed to be, well, "mini" which necessarily means that not everything one might think of can be crammed into it. However, precisely for this reason packed PF candidate and

[2015-01-29 14:32] ferencek commented on #2
@rappoccio, wouldn't this imply that we also store subjets in MiniAOD?

[2015-01-29 14:55] dmajumder commented on #2
@rappoccio Some of the jet matching errors were caused by different pT cuts on AK8 and the pruned AK8 jets. Those should be fixed now, puls a host of other stuff that accumulated over the development cycle.
@ferencek As for the error message from he jet flavour tool, they are switched off for subjets, but is the pathological behaviour also expected from pruned jets? There are no dR mismatches, but

[2015-01-29 15:10] ferencek commented on #2
@dmajumder, the jet flavor should be disabled for any type of groomed fat jets. Here is a quote from https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideBTagMCTools

The idea is that the fat jet flavor can be taken from the ungroomed fat jet.

[2015-01-29 15:18] dmajumder commented on #2
@ferencek Thanks Dinko, indeed we do not store pruned jets, so this is quite unnecessary. I have switched it off.

[2015-01-29 15:22] ferencek commented on #2
BTW, to proceed as efficiently as possible, all open issue should probably be discussed in some sort of meeting (either one of the B2G meetings or a private meeting) where we all sit down and talk to each other. What do you guys think?

[2015-01-29 15:27] alschmid commented on #2
@ferencek  yes, private meeting would be good. I think we don't contradict each other. The B2G workflow should help making complex tagging objects which are not in miniAOD. It should be those objects which are used in the analyses. And many analyses need subjet b-tags (not necessary the truth flavour). I can't judge if the truth flavour is too expensive right now, but if it can be added without ex

[2015-01-29 15:27] dmajumder commented on #2
@ferencek Good idea. However the presentation on 20 Jan was explicitly to ask for feedback on open issues after running the framework. I wouldn't mind another discussion like in Dec with the core developers. Better to aim it after B2G jamboree on 03 Feb, and it would be a good time to start migrating to 73X.

[2015-01-29 15:28] rappoccio commented on #2
Yes, that's exactly the point. ;) The entire idea was to ELIMINATE the B2G
PAT-tuple workflow. We worked extensively with the miniAOD authors many
months ago to address this. We do NOT want to have to organize a
multi-month processing again, since it's a relatively big waste of time.

About storing subjets : For the majority of users, they don't need the
actual subjets. They will need the b discri

[2015-01-29 15:32] alschmid commented on #2
@rappoccio yes the subjet 4vectors and the bdiscriminator values and the mc truth is what I meant...That's the analysis level information needed. And of course the calorimeter raw data

[2015-01-29 15:34] ferencek commented on #2
Storing subjet information in MiniAOD definitely deserves a discussion. I'm not sure what would be the best way to store that info in MiniAOD.

[2015-01-29 15:38] rappoccio commented on #2
We don't need the subjets in miniAOD per se. Ideally we will only need the subjet b-tagging information and perhaps the four-vectors, both of which can be stored as user data.

[2015-01-29 15:41] ferencek commented on #2
@rappoccio, I see. Yes, if the subjet info can be embedded in the fat jets user data, that should be sufficient for most users.

[2015-01-30 03:18] rappoccio commented on #2
Hi, Folks​,

OK, for the short term, I fixed a bunch of stuff. It's not quite done yet,
but I have to wait for an answer from some FW experts.

https://hypernews.cern.ch/HyperNews/CMS/get/b2g-selections/211.html

The next stages are :

1. I have to get the "thinned collections" deployed. I was hoping to have
it in for 740 but the last open release is Tuesday so... doubt that will
happen.
2. Someon

[2015-01-30 03:50] ferencek commented on #2
Points 2. and 3. are tied closely together. I guess we want the SoftDrop subjets. Looking at what is stored in one of the recent RelVals `/RelValTTbar_13/CMSSW_7_4_0_pre5-MCRUN2_73_V7-v1/GEN-SIM-RECO` I see the following
[code]
so it shouldn't be too complicated to get b tagging running over the SoftDrop subjets. I'm a bit less certain about how to pick up the subjet b-tag discriminators and store

[2015-01-30 03:58] rappoccio commented on #2
Hi, Dinko,

Awesome, thanks! Yes, we want the soft-drop subjets, I will also switch to
that in miniAOD in any case. To store the subjet discriminators, it should
probably simply be some version of our "BoostedJetMerger" functionality,
and then we can just store what we want as user data like we're currently
doing for the masses.

Do you think you have time to do this by the 74x deadline?

Cheers,

[2015-01-30 04:09] ferencek commented on #2
Hi, Sal,

I'll do my best to have this done before the 740 deadline.

-Dinko

On 01/29/2015 10:58 PM, rappoccio wrote:

[2015-01-30 13:39] rappoccio commented on #2
Thanks Dinko!

[2015-01-31 19:01] ferencek commented on #2
Hi, Sal, all

I had a look at getting subjet b tagging in MiniAOD and it looks like
the simplest way to achieve this would be to add addJetCollection(...)
calls for soft drop jets and subjets followed by the BoostedJetMerger in
http://cmslxr.fnal.gov/source/PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py?v=CMSSW_7_4_0_pre6#0080

However, what is less clear to me is how to include the subjet

[2015-02-01 03:01] ferencek commented on #2
Hi Guys,

Here is a first draft of storing subjet b-tag discriminators in MiniAOD https://github.com/cms-btv-pog/cmssw/compare/PATJetMiniAODImprovements_from-CMSSW_7_4_0_pre6...B2GMiniAODSubJets_PATJetMiniAODImprovements_from-CMSSW_7_4_0_pre6

The are probably better solutions but this seems to work. Let me know what you think.

Cheers,
Dinko

[2015-02-01 16:45] rappoccio commented on #2
Hi, Dinko,

Thanks for following up so quickly!

Yes, that's what I had in mind. The dynamic cast can be handled using the
StringObjectFunction, I think, but I could be wrong. It would be easiest to
store the subjet 4-vectors directly as 4-vectors, most likely.

Let me know if this doesn't work and I can take a look tomorrow.

Cheers,
Sal

On Sat, Jan 31, 2015 at 2:01 PM, Dinko Ferencek <notificat

[2015-02-02 03:29] ferencek commented on #2
Hi, Sal,

You were right about the `StringObjectFunction`, it can handle dynamic casting or does some other framework magic to evaluate `pat::Jet` methods from daughter pointers. However, for this to work the expression parser need to be set to the lazy mode. I extended the `JetDeltaRValueMapProducer` so that lazy parsing can be used and multiple values can be evaluated with a single jet matching.

[2015-02-02 15:10] rappoccio commented on #2
On Sun, Feb 1, 2015 at 10:29 PM, Dinko Ferencek <notifications@github.com>
wrote:

Fantastic, thanks!

There are dictionaries for 4-vectors so you can just do something like this
:

https://github.com/cmsb2g/B2GAnaFW/blob/master/python/b2gedmntuples_cff.py#L478

     cms.PSet(
        tag = cms.untracked.string("subjetIndex0"),
        quantity = cms.untracked.string("? numberOfDaughters > 0 ?
dau

[2015-02-02 22:25] ferencek commented on #2
Hi, Sal,

I'm not sure how dictionaries for vectors of 4-vectors would help with
embedding the subjet 4-vectors into PAT jets. The simplest (but maybe
not the most elegant) solution would be to simply embed this info as 4
floats per subjet. Everything else will require additional developments
so unless somebody can implement these developments by tomorrow (I can't
promise because of some problems

[2015-02-03 15:48] #5 closed

[2015-02-03 15:51] cmsb2g commented on #2
Hi, Dinko,

I don't think there are any developments / dictionaries needed IIRC. I'll take a look today.

Cheers,
Sal

[2015-02-03 15:58] ferencek commented on #2
OK, great. Let us know what you find out.

-Dinko

On 02/03/2015 10:52 AM, cmsb2g wrote:

[2015-02-03 20:26] rappoccio commented on #2
Hi, Dinko, All,

OK I had a look at this. The ultimate limitation is that the StringObjectFunction does not actually allow 4-vectors as outputs, although this is supported by the pat::Object. The only option is to therefore store the 4-vector components as floats. Grrr...

The good news is, I've sped up our workflow sufficiently now using the preclustering that we could probably just rerun in any

[2015-02-03 20:36] ferencek commented on #2
Hi, Sal,

Should I go ahead with adding subjet pT, eta, phi, and mass (I guess
this is a bit more convenient than px, py, pz, and energy) and then if
needed, people can recreate the subjet 4-vectors at the analysis level.

Cheers,
Dinko

On 02/03/2015 03:26 PM, rappoccio wrote:

[2015-02-03 21:20] rappoccio commented on #2
Hey Dinko

If you get a chance, sure.

Cheers
Sal

On Tuesday, February 3, 2015, Dinko Ferencek <notifications@github.com>
wrote:

[2015-02-03 21:25] ferencek commented on #2
OK, done
https://github.com/cms-btv-pog/cmssw/compare/B2GMiniAODSubJets_PATJetMiniAODImprovements_from-CMSSW_7_4_0_pre6

I checked the impact on the MiniAOD event size by running over 500
events from /RelValProdTTbar_13/CMSSW_7_4_0_pre5-MCRUN2_73_V7-v1/AODSIM
and the increase was ~0.25%. I guess we can afford this.

If there are no objections, I will make a PR using the above branch.

Best,
Dinko

[2015-02-03 21:53] rappoccio commented on #2
Hi, Dinko,

Wow, I like this implementation, nice work :).

One other thing, though : we should add the top-tag subjets from the CMS
top tagger AND the W/Z/H-tag subjets from soft drop. Do you want to handle
this or should I? I guess the names would be something like

+        valueLabels = cms.vstring(
+            "w1Pt",
+            "w2Pt",
+            "w1Eta",
+            "w2Eta",
+

[2015-02-03 23:01] ferencek commented on #2
PR created https://github.com/cms-sw/cmssw/pull/7549

[2015-09-23 15:31] rappoccio opened #18 "HEEP ID"
At some point I need to implement the HEEP ID selection. Will get to this ASAP.

[2015-09-23 15:32] rappoccio opened #19 "Optional reclustering of AK8 jets"
To run some new advanced background estimates, we need lower-pt AK8 jets (pt > 40 && pt < 200). I need to add an optional reclustering configuration parameter if needed for some limited samples.

[2015-09-23 15:43] decosa commented on #19
Hi Sal,

We are applying minimal changes right now to two new development branches (not yet announced):

CMSSW_7_4_X_V6_25ns
CMSSW_7_4_X_V6_50ns

This is a temporary solution for having a working version for both dataset, includes fixes to electron id and changed to electron ID for 25 ns.
Muon Id for 25 ns is still missing. It will be added most likely tomorrow.
There is a discussion ongoing for m

[2015-09-23 15:46] rappoccio commented on #19
Hi, Annapaola,

This one is a special case so I would prefer to wait until something is stable. The other Issue I opened (HEEP ID) is a better candidate for this week's release.

Cheers,
Sal

[2015-09-23 15:56] decosa commented on #19
Hi Sal,

Ok, I think that you can go ahead as soon as you are ready and let Deborah know when you are done.
She will then include changes to muonID if needed.

Cheers,

Annapaola

On 23 Sep 2015, at 17:46, rappoccio <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, Annapaola,

This one is a special case so I would prefer to wait until something is stable. The other Issue I op

[2015-09-23 16:05] rappoccio commented on #19
Hi, Annapaola,

OK will do!

Cheers,
Sal

[2015-09-23 16:47] rappoccio commented on #19
Hi, Annapaola,

I think I can also take the opportunity to use the new VID as well. I will add that too.

Cheers,
Sal

[2015-09-23 18:51] rappoccio opened #20 "Need to merge to master"
@dmajumder, there is one commit that will not merge to master (https://github.com/cmsb2g/B2GAnaFW/commit/b8bb2696d7b281ace8064921eb0c04dea83d7214). This needs to be merged to master so we can make the next couple of releases.

Thanks,
Sal

[2015-09-24 12:54] dmajumder commented on #20
@rappoccio done. Can we delete "CMSSW_7_4_12" or you want to wait to validate with the new CMSSW_7_4_12 samples?

[2015-09-24 12:58] rappoccio commented on #20
Thanks Devdatta! We can delete the other branch, sure.

[2015-09-24 12:58] #20 closed

[2015-09-24 12:58] decosa commented on #20
Hi all,

I don’t think having the 7_4_12 in the master is a good idea.
This is the branch for the reprocessed miniAOD which are under validation.
Of course all the improvements in terms of cleaning should go in the master,
but I don’t think this is the case for those aspects which are specific to reprocessed miniAOD.

We shall probably have a chat to define the policy of what shall go in the maste

[2015-09-24 13:02] decosa commented on #19
Hi Sal,

That would be great.
This point was actually under discussion in a separate thread, we were talking about including VID.
Savvas was going to investigate with Egamma people if it is possible to disentangle the isolation and the ID.
Do you know if this is the case?

Thanks,

Annapaola

On 23 Sep 2015, at 18:47, rappoccio <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi

[2015-09-24 13:33] rappoccio commented on #20
Hi, Annapaola,

Hmm, good point. But maybe I'm confused a bit, I thought that anything for 7_4_12 was also applicable to future releases? Maybe we could have :

master : 7_4_12 and 75x
74x branches : for < 7_4_12

?

Cheers,
Sal

[2015-09-24 14:47] decosa commented on #20
Hi Sal,

On 24 Sep 2015, at 15:33, rappoccio <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, Annapaola,

Hmm, good point. But maybe I'm confused a bit, I thought that anything for 7_4_12 was also applicable to future releases? Maybe we could have :

master : 7_4_12 and 75x

If we decide to go in that way it is fine with me, just we need to keep in mind that the master is go

[2015-09-24 15:31] dmajumder commented on #20
Hi Sal, Annapaola,
I understand that we delete CMSSW_7_4_12? I just want to keep branch proliferation in check. ;)

[2015-09-24 16:24] rappoccio commented on #20
Yes, this is what I am proposing. Updates will have to be added to all three branches (git cherry-pick and/or git rebase can help with that).

[2015-09-24 17:03] rappoccio commented on #18
Done : https://github.com/cmsb2g/B2GAnaFW/commit/88d28e6a16f9736c9bb5c0e3bd0c6a765fb902c0

[2015-09-24 17:03] #18 closed

[2015-09-24 17:04] rappoccio commented on #19
OK just to make it clear on this thread too : now done with VID, 7.4.12 or later is required.

https://github.com/cmsb2g/B2GAnaFW/commit/88d28e6a16f9736c9bb5c0e3bd0c6a765fb902c0

[2015-09-24 17:18] dmajumder commented on #20
Hi Sal,

Will do.

Regarding the policy definition Annapaola proposed, I suggested having master as main development branch (separate developments can be created for individual topics, merged to master when ready, and deleted), and create production branches staring from commits on master. We make tags on the production branches, and only bug-fixes allowed on these branches.
I think this is simila

[2015-09-24 17:26] rappoccio commented on #20
That's about right, yes. The stable branches are as we currently have them. It does get annoying if we have new features we want to backport, but this is the same model as CMSSW.

[2015-10-12 14:17] rappoccio opened #22 "Add "NonISO" HEEP ID for electrons"
The HEEP ID's need to have non-isolated versions added via the VID framework.

[2015-10-12 16:53] rappoccio commented on #22
Finished this.

[2015-10-12 16:53] #22 closed

[2015-10-21 14:37] decosa opened #23 "Update to 7_4_14 release"
A new branch has been created (CMSSW_7_4_X_V8) to get a recipe for miniAODv2 ('05Oct' data + PromptReco-v4 + miniAODv2 MC samples).

[2015-10-21 16:26] decosa commented on #23
The recipe works out of the box with new GT and JECs (25ns_V5) on data.
No need to do
git cms-merge-topic ikrav:egm_id_7.4.12_v1.

HBHE filter recipe updated:

process.load('CommonTools.RecoAlgos.HBHENoiseFilterResultProducer_cfi')
process.HBHENoiseFilterResultProducer.minZeros = cms.int32(99999)
process.HBHENoiseFilterResultProducer.IgnoreTS4TS5ifJetInLowBVRegion=cms.bool(False)
process.HBHENoise

[2015-10-21 16:26] decosa commented on #23
New tag done:

v7.4.x_v8.1 on branch CMSSW_7_4_X_V8

[2015-10-22 13:08] decosa commented on #23
Process names for slimmedMET and met triggerResults are different between 05Oct data and PromptRecov4. Providing a fix now. A new tag will be released.

[2015-10-22 13:18] decosa commented on #23
Tag v7.4.x_v8.2 released

[2015-10-22 13:18] #23 closed

[2015-11-13 19:14] TC01 opened #27 "Invalid tool Utilities/Timing"
When running ```scram build```, I get this message:

[code]

Looks like Utilities/Timing doesn't exist in CMSSW_7_4_X? This is obviously not a serious warning, because stuff still works and nothing seems to try to invoke Utilities/Timing stuff.

[2016-01-07 14:39] rappoccio opened #30 "Add secondary vertex mass"
For SM measurements, need to add the secondary vertex mass for the b-tagged jets.

[2016-02-10 16:36] #30 closed

[2016-02-10 16:37] #19 closed

[2016-02-22 11:11] dmajumder opened #39 "New production tag for 76X"
@alefisico @jkarancs @decosa @skyriacoCMS
A new tag created for 76X production https://github.com/cmsb2g/B2GAnaFW/tree/v7.6.x_v1.0
Anybody to check if the instructions are correct before announcing, by today?

[2016-02-22 11:25] alefisico commented on #39
I just tested the instructions and found an small bug, I created the PR #40 . After that, the instructions are correct.

[2016-02-22 12:03] #39 closed, assigned to nobody

[2016-03-28 21:46] dmajumder commented on #27
removed.

[2016-03-28 21:46] #27 closed

[2017-02-06 18:59] oiorio opened #67 "L2L3Residual corrections missing from T1 MET"
Currently when we do T1MET corrections on data we do remove the contribution of L2L3Residuals as default option(forceResiduals=True):

https://github.com/cmsb2g/B2GAnaFW/blob/v8.0.x_v2.4/test/b2gedmntuples_cfg.py#L595-L612

Need to check whether we should leave them in instead, an if such is the case, take out the above lines.

* Update: needs to be changed, either removing it entirely or changing

[2017-02-15 16:27] alefisico opened #69 "Creating new tag v8.0.x_v2.5"
Let's move the developers conversation here :)
So can all of you mention what you have included in this version?
From my side I will include a new version of the jetToolbox, which does not change content but improves some performance.
Also, when do you think is reasonable to have a new tag.

[2017-02-15 16:36] alefisico commented on #69
Just calling contributors @dmajumder @skyriacoCMS @oiorio @jkarancs (please include however you think should be in the thread)

[2017-02-15 18:03] oiorio commented on #69
From my side, I added the Moriond JEC , MET T1 was also fixed so now it is correctly recalculated on the fly with the met recipe for 8_0_26_patch1.

We should also update the README so that it reflects the fact that

git cms-merge-topic ikrav:egm_id_80X_v2

is not needed and it all needs to be run on top of 8_0_26_patch1.

[2017-02-15 18:47] alefisico commented on #69
I prepare a first draft of the README file: https://github.com/alefisico/B2GAnaFW/blob/CMSSW_8_0_X_V2/README.md
Is there something else to add or wrong?
We need to change the version of the toolbox and the tag, but we can do it later.

[2017-02-15 19:05] oiorio commented on #69
@skyriacoCMS Do we need to keep the following part regardless of the git cms-merge-topic ikrav:egm_id_80X_v2 not being there for the egamma wprking points?

cd $CMSSW_BASE/external/slc6_amd64_gcc530

git clone git@github.com:ikrav/RecoEgamma-ElectronIdentification.git data/RecoEgamma/ElectronIdentification/data

cd data/RecoEgamma/ElectronIdentification/data

git checkout egm_id_80X_v1

cd $CMSSW_

[2017-02-16 17:30] oiorio commented on #69
Hi Again! I checked myself the electron vid veto and tight on a MC sample and on a run b sample.

They give the same result with and without the piece above, both in the root file and in the .py dumped file, so I think we should be fine with the above recipe from @alefisico, sorry for the being so pedantic!

[2017-02-16 17:36] alefisico commented on #69
I thought that you send the message before you received the email saying that we don't need it. But ok, extra confirmation is always better. :D

[2017-02-16 17:37] alefisico commented on #69
I thought that you send the message before you received the email saying that we don't need it. But ok, extra confirmation is always better. :D
We are almost ready I think. @skyriacoCMS is adding some photon variables and I think after that we are ready for a new tag, what do you think @dmajumder?

[2017-02-16 21:37] dmajumder commented on #69
I think we are almost ready.  @skyriacoCMS , any chances of the MVA electron ID getting added?

[2017-02-17 14:01] dmajumder commented on #69
@alefisico @oiorio @jkarancs @skyriacoCMS do we wait for this
https://hypernews.cern.ch/HyperNews/CMS/get/b2g/995.html?

[2017-02-17 14:15] alefisico commented on #69
I was about to ask this, do we have any deadlines? I mean by when do we want to launch the next tag? When is the rerererererereco :joy: ready?

[2017-02-17 14:20] oiorio commented on #69
I can't say what modification is needed, and if there is something that we should do with much care.

My2c: I'd go for a tag as it is now and follow up whenever we manage to run on the ReReReco.

From the top side, we do have some jobs to launch asap, but it's a weak argument, we can do it even with a non-committed release if it's deemed necessary to run on the Re^3co.

[2017-02-17 14:27] dmajumder commented on #69
@oiorio If there is an immediate use case, we should make a tag of course.
The development for the re-re-₹...reco could happen later. Maybe start a branch CMSSW_8_0_X_V3?

[2017-02-17 14:57] oiorio commented on #69
I'd second that! I guess this is far from being the end of the story for the development on top of the ReReco, making a new branch could be worth it.

[2017-02-17 15:04] alefisico commented on #69
:+1: fine for me

[2017-02-17 15:09] skyriacoCMS commented on #69
Hello guys,

I m also working on some changes. I see that you will have a re-re-reco version coming on later on. So I would have that in mind as a target for the things I am working on.

0) Changes to the PhotonJets collection that I am planning a while now.
1) will be the MVA ID devdatta mentioned.
2) Photon IDs are old and useless. I need to add the Moriond versions at least - unfortunately they

[2017-02-17 16:12] dmajumder commented on #69
OK, so anybody volunteers to cut a new v8.0.x_v2.5 tag? I see that the README is already updated.

[2017-02-17 16:20] alefisico commented on #69
ok, talking privately with @skyriacoCMS I think he is very close to finish some of the items in the todo list. So, I propose to wait until Monday and then, if you want, I can create the new tag and send the email.
Anyway, even if we release it today, I dont think people will start ntuplizing it now.
Comments?

[2017-02-17 16:38] oiorio commented on #69
Well, I would indeed start, but I see the point :) Let's keep Monday as deadline for any further additions, I seem to understand that not all of it would be ready anyways.

[2017-02-17 16:41] dmajumder commented on #69
@oiorio if you want to start and do not need the items from Savvas, I think we should have a tag released for you. We can then get the new developments for the re-MINIAOD since I feel we may need a tag for that ASAP.

[2017-02-17 16:52] oiorio commented on #69
@dmajumder  I don't need those items, so I can start right away tbh, that would be very helpful. I should still have the possibility able to do that myself, right?

[2017-02-17 17:10] dmajumder commented on #69
@oiorio certainly. Just thinking that a tag is good for tracking, if that's important for you.

[2017-02-17 18:20] oiorio commented on #69
Done! CMSSW_8_0_X_V2 updated with Alejandro's readme and tag v2.5 added.

[2017-02-17 18:35] dmajumder commented on #69
Thanks a lot! Can you have a look at the release
https://github.com/cmsb2g/B2GAnaFW/releases/tag/untagged-296e11d3eb7dab7f3002
to see if this looks OK

[2017-02-17 18:40] oiorio commented on #69
Looks good! Thanks!

[2017-02-17 18:47] dmajumder commented on #69
I have published the release and updated the TWikihttps://twiki.cern.ch/twiki/bin/view/CMS/B2GAnalysisFwk#CMSSW_8_0_X
I think one you should announce it to the HN, you guys did all the work.
Also, please make it clear that this tag is intended for special cases, and not for mass re-ntuplizing the re-reco data or the Summer16 MC. A new tag for the re-MiniAOD (03Feb2017) will be produced later.
Than

[2017-02-19 11:51] dmajumder commented on #69
Thanks @oiorio

[2017-02-19 11:51] #69 closed, assigned to nobody

[2017-02-19 11:52] dmajumder commented on #67
I guess this is now settled with the latest changes and v8.0.x_v2.5, so I am closing it.

[2017-02-19 11:52] #67 closed, assigned to oiorio

[2017-03-16 16:42] alefisico opened #71 "New Tag for 03Feb2017 samples"
Hi all
not only because of this: https://hypernews.cern.ch/HyperNews/CMS/get/b2g-selections/332.html
but I think is time for the next tag. Is there something extra that we want to include in this tag?
If I remember correctly, we didn't launch a big campaign for the last tag v8.0.x_v2.5.

[2017-03-16 19:27] jkarancs commented on #71
Dear Alejandro,
Can we add my PR (#70)?
https://github.com/cmsb2g/B2GAnaFW/pull/70

This fixes a problem with the stochastic part of jet smearing.

[2017-03-16 21:23] skyriacoCMS commented on #71
Hello all,

So, I have made a new branch named CMSSW_8_0_X_V3 at the forked repository
I have of the B2GAnaFW.

https://github.com/skyriacoCMS/B2GAnaFW/tree/CMSSW_8_0_X_V3/src

0 )This new branch includes all the latest changes made to the tag
/v8.0.x_v2.5  and starts with that as a base.

1 )The long awaited Electron MVA value is now stored in the electron
collection.

2) Photon IDs updated to th

[2017-03-21 10:47] alefisico commented on #71
Hi all
@jkarancs is that the only fix that you want to include? Unfortunately I dont have writing permissions, but maybe @dmajumder can help with that? (Actually maybe it will be useful for someone else to have the permissions? in case Devdatta is busy)
@skyriacoCMS and @jkarancs, let me check if I can solve this compilation problem incorporating both changes, and I'll go back to you.
Also, is the

[2017-03-21 10:52] jkarancs commented on #71
@alefisico
Yes, that's the only change. It's just one line, so someone with write permission should do it. I made a PR because I don't have such permission, but it seems noone accepted it yet.

[2017-03-21 11:10] dmajumder commented on #71
I just commented on the PR, sorry for some reason I missed this notification in my mailbox.

As for the tag for 03Feb, I am not sure if it is urgent. Do one of you want to use it for your analyses right away? I am slightly concerned about the space, we may need to move things around or delete old stuff.

[2017-03-21 11:18] alefisico commented on #71
I think not from our side, maybe we can ask in HN?

[2017-03-21 11:22] dmajumder commented on #71
I am waiting for some clarification from Janos before merging #70
I think this PR can go into CMSSW_8_0_X_V3 along with Savvas's new additions.

Another thing
@alefisico For AK8CHS jets, I think the matched Puppi subjet indexes are not being stored properly, r being stored at all. Can you check this part?

[2017-03-21 11:38] jkarancs commented on #71
@dmajumder
I don't see your comment, but let me clarify the change in PR #70.
The JER twiki has a recipe for stochastic smearing, which is the 3rd formula here:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/JetResolution#Smearing_procedures

sigma_JER is written as the "relative pt resolution", so the ratio of the absolute jet resolution (which is what we have currently) divided by the pt of the je

[2017-03-21 12:27] dmajumder commented on #71
Summary: #70 is closed and we do not need the change.
Once I hear from @alefisico about the storage of the AK8PUPPI subjet indices matched to the AK8CHS jets we can move forward

[2017-03-21 13:04] skyriacoCMS commented on #71
@dmajumder Hello,  If you create a new branch on the official framework I can make a pull request with my changes - which are a lot - and then on top of that add the indices issue.

[2017-03-21 13:40] dmajumder commented on #71
@skyriacoCMS I have created a new branch https://github.com/cmsb2g/B2GAnaFW/tree/CMSSW_8_0_X_V3
You can make the PR there

[2017-03-22 10:58] alefisico commented on #71
btw, I will check the subjet indeces once #72 is merged.

[2017-03-22 12:49] dmajumder commented on #71
#72 Merged. With these developments, any production needs to re-produce both the data and the MC. Also, did anybody change the GT for 03Feb re-miniaod?

[2017-03-22 13:06] alefisico commented on #71
I dont think so, but I can do it once I commit the changes in the indexes.

[2017-03-22 13:27] dmajumder commented on #71
let's have a look once we have the subjet indices checked.

[2017-03-29 11:10] alefisico commented on #71
@dmajumder the subjet indices are not stored because the subjets are not stored. Remember that we are talking about the Puppi jets link to the CHS jets directly in miniAOD. But do we want those subjets? I think we have an entire collection of Puppi jets with subjets and all, so maybe it is not needed.
On the other side I updte the JECs and all the commands needed. I can push my branch with those c

[2017-03-30 09:32] dmajumder commented on #71
@alefisico You're right. However, one reason is to apply the PUPPI SD mass correction for W/Z tagging. This requires the uncorrected PUPPI SD mass. So I'd suggest storing this as a userFloat.

And yes, please push when you're done.

[2017-03-30 09:39] alefisico commented on #71
@dmajumder to store the four momentum of the subjets as userFloat? (just to be sure)

[2017-03-30 09:55] dmajumder commented on #71
@alefisico Only the PUPPI SD uncorrected mass should suffice. You usually calculate it using the sum of the subjet uncorrected four-momenta.

Unfortunately we we have no way of knowing how these recipes will evolve in the future, so this is just an interim solution.

[2017-04-04 10:00] alefisico commented on #71
sorry for the delay but I had some stupid merging conflicts that I had to solve.
I just create #73, after that I think we are ready.

[2017-04-05 09:32] dmajumder commented on #71
PR#73 merged. Do some tests before a new tag?

[2017-04-06 12:40] skyriacoCMS commented on #71
Hello All,

I did a new pull request with minimal changes to the PhotonJets collection.
I think this should be included in the new tag. I could do the tests that
we need to do for the new tag.

Cheers,

*Savvas Kyriacou*
*Department of Physics and Astronomy         *
*Rutgers, The State University of New Jersey *

*CERN B8 R-020       ,__,           (o.o)           /),,,,)            "  "
      *

[2017-04-08 20:06] dmajumder commented on #71
I have merged #74
time to do tests. BTW, given that we are adding several novel stuff, I think we need a light validation framework to test some variables before making production tags. Any ideas?

[2017-04-08 20:12] jkarancs commented on #71
Dear Devdatta,

Please hold on for a little bit with the new tag, I'm testing the
uncorrected SoftDrop mass, it is different to what I get in my calculation.
I suspect Ale did not exactly match the CHS jet to the Puppi one finding
the closest distance, just accepted the first which was within the cone. I
try to check if this is true and report back in a few minutes.

Bests,
Janos

On 8 April 2017

[2017-04-08 20:27] jkarancs commented on #71
Dear all,

In the mean time let me elaborate.
I already privately calculated the uncorrected puppi softdrop mass (needed for W tagging) the same way as it is implemented currently, with some exceptions:
- I was minimizing the matching distance and only accept the closest jet
- I was using "slimmedJetsAK8" collection (which is available in MINIAOD) and their "SoftDropPuppi" subjets, exactly like in

[2017-04-08 22:11] jkarancs commented on #71
Dear all,

Additional to the things I mentioned previously, the subjet 4 momentum also seemed wrong. We need to use the correctedP4(0) according to the POG recipe.
I decided to make a PR (#76) and also add the MVA electron values/categories for general purpose and HZZ IDs, I think others might find them useful.

[2017-04-09 12:42] jkarancs commented on #71
Using the L1L2L3 corrected subjets when computing softdrop mass is also useful (for top tagging) so I added back that variable too. Now the two new variables will be suitable for both the latest recommendations for W and top tagging. For the former one also need to apply the GEN/RECO corrections, but this can change so it's better to be applied on-the-fly in the analyses.

[2017-04-10 09:46] dmajumder commented on #71
@jkarancs we already store the SD mass so what extra variables are needed?

We are not storing any corrections since as you said, they change. We just want to store the minimal set of variables needed to compute these corrections

[2017-04-10 09:55] alefisico commented on #71
Hi all (sorry for the late reply, I was very sick the last week)
@jkarancs about

The reason of using the packedPatJetsAK8PFPuppiSoftDrop instead of the slimmedJetsAK8 is because we are NOT using the slimmedJetsAK8 jets at all. We are still reclustering everything througth the jetToolbox for AK8 jets and mimic the puppi jets in the CHS collection as in miniAOD. Maybe that is the reason your calcul

[2017-04-10 10:15] jkarancs commented on #71
@dmajumder
Indeed we have the Puppi softdrop mass already, but we don't exactly use the same corrections as the POG. They checked different corrections, and they currently recommend on their twiki [1] to use "groomed top jets (SoftDrop) and AK4 L1L2L3 JEC corrections applied to the subjets", the same as on second bullet on slide 4 here [2]. Our Puppi SoftDrop mass is somewhat different, so to get

[2017-04-10 10:26] jkarancs commented on #71
@alefisico
I wish you to get well soon.

This new calculation of "uncorrSDMassPuppi" using the MINIAOD collection is only there in order to exactly get the same uncorrected mass that the POG uses for W tagging, otherwise we introduce some kind of difference which is in most cases small, but in some others it is not negligible. Of course we are free to define and use our own reclustered collections

[2017-04-10 11:49] skyriacoCMS commented on #71
@jkarancs

Hello All,

So regarding the GP MVA IDs ok, fair enough, the idea was to just have a single variable - the score of the mva  and then the user decides what to cut on. The WP are on the EG twikis but mostly we have seen (IN THE b2g group -Dylan Rankin) that this new training WPs was not doing as good as the old one and one had to shift the WP to get similar or better s/b and stability in

[2017-04-11 10:35] jkarancs commented on #71
@skyriacoCMS
The HZZ MVA ID is indeed useful for people who want to a) have a very high efficiency selection, or b) veto electrons or c) want to extend below 10GeV pt, so I think this is good ID to keep also.

[2017-05-03 13:06] dmajumder commented on #71
@alefisico @skyriacoCMS @jkarancs are we ready to create a new tag?
I've got queries from some people, so this is now a bit high priority.

[2017-05-03 13:16] alefisico commented on #71
I dont have any other thing to include from my side.

[2017-05-03 13:19] dmajumder commented on #71
@alefisico thanks. once the other two confirm i think we're good to go.

[2017-05-03 13:19] skyriacoCMS commented on #71
@dmajumder @jkarancs @alefisico
Hello guys,

From my side I have nothing more to add either

[2017-05-03 13:45] jkarancs commented on #71
@dmajumder
Also ready from my side. Time to make new ntuples!

[2017-05-06 03:28] dmajumder commented on #71
I've created a new release, please check the notes and the changelog w.r.t. the previous production release:
https://github.com/cmsb2g/B2GAnaFW/releases/tag/v8.0.x_v3.1

I'll announce it tomorrow

[2017-05-10 23:30] dmajumder commented on #71
@decosa @oiorio

Sorry but could you summarize the email thread here? It's easier to keep track.

I am still not sure if MET recipe needs to be updated. It is mentioned here
https://twiki.cern.ch/twiki/bin/view/CMS/MissingETRecipes
but not here apparently.
https://twiki.cern.ch/twiki/bin/view/CMSPublic/ReMiniAOD03Feb2017Notes#MET_Recipes

BTW, I am not sure if we all need the muon and EG cleaned M

[2017-05-11 12:15] cmsb2g commented on #71
Hello,

The summary is the following:

1) Right now only muon corrected MET is stored in the ntuples
2) Only one of the two merge from MET recipe has been added to the README, should we include both of them?

   git cms-merge-topic cms-met:METRecipe_8020 -u

   git cms-merge-topic cms-met:METRecipe_80X_part2 -u

However, the second one is needed only to recompute the gain switch e/gamma propagatio

[2017-05-11 20:39] dmajumder commented on #71
ok, I will publicise the tag then, and in the next round we'll see if other METs are needed.
We really have to get the object contacts to sign off from now on.

[2017-05-11 21:56] dmajumder commented on #71
[v8.0.x_v3.2](https://github.com/cmsb2g/B2GAnaFW/releases/tag/v8.0.x_v3.2) made. I am going to announce it

[2017-05-12 06:07] dittmer commented on #71
Sorry to add this as a late comment (and coming from outside the group), but does the latest tag include the [EGM regressions](https://twiki.cern.ch/twiki/bin/viewauth/CMS/EGMRegression)?

[2017-07-12 10:12] dmajumder opened #80 "New tag for 2017 data"
Starting a new issue to track the developments for a tag for 2017 data using 92X release.
Can we have the experts update the latest recipes:
@alefisico @skyriacoCMS @jkarancs @lbenato
May be we start with the JetToolBox recipe in CMSSW_9_2_X?

[2017-07-12 11:34] dmajumder commented on #71
replied here https://hypernews.cern.ch/HyperNews/CMS/get/b2g-selections/337.html
Closing this issue.

[2017-07-12 11:34] #71 closed, assigned to nobody

[2017-07-12 12:32] alefisico commented on #80
do we have any timescale for this? just to know since I am very busy currently on other stuff

[2017-07-12 15:35] dmajumder commented on #80
@alefisico the timescale is as usual "ASAP" because we are planning to adapt this package to monitor triggers. See my reply to Lisa's email on the B2G HN:
https://hypernews.cern.ch/HyperNews/CMS/get/b2g/1055/1/1.html

If the JetToolbox in CMSSW_9_1_X works out of the box in CMSSW_9_2_X then it is very straightforward.
I ran with the CMSSW_9_1_X JetToolBox in CMSSW_9_2_6 and at least it did not cra

[2017-07-12 16:19] alefisico commented on #80
that is main problem, it does not.
There were some changes in the unscheduled mode that changes everything in the jetToolbox. I'll try to work on them asap, but I have some other deadlines now.

[2017-07-13 13:51] dmajumder commented on #80
indeed, I think there is a Task module than now needs to be used.
Can you specify a time line (no pressure)? In the meanwhile, I can at least try to make the other objects work in the workflow.

[2017-07-16 11:18] skyriacoCMS commented on #80
Hello all,

I have a random question. Why do the met variables get stored as vectors
and not as simple floats in our ntuple? Shouldn't it be a single number per
event?

Cheers,

*Savvas Kyriacou*
*Department of Physics and Astronomy         *
*Rutgers, The State University of New Jersey *

*CERN B8 R-020       ,__,           (o.o)           /),,,,)            "  "
      *

On Thu, Jul 13, 2017 at

[2017-07-17 13:42] dmajumder commented on #80
@skyriacoCMS probably it is historical. I agree we can change the VPSet to PSet.

[2017-07-19 19:44] alefisico commented on #80
@dmajumder Is there any target release? any CMSSW_9_2_X?
About the jetToolbox, there is an easy (and temporary?) fix that should work now. I can check it with the B2GAnaFwk now, although it should be transparent to the framework.
also, can you create a 92X working branch?

[2017-07-19 20:27] dmajumder commented on #80
@alefisico the target cmssw release should be the latest CMSSW_9_2_X. I have started working in CMSSW_9_2_6 which I think is the most recent.
New development branch created
https://github.com/cmsb2g/B2GAnaFW/tree/CMSSW_9_2_X_V0

[2017-07-19 21:37] alefisico commented on #80
ok, the code runs and including the latest version of the toolbox:
https://github.com/cms-jet/JetToolbox/tree/jetToolbox_91X_v1
BUT, the output file is empty.. @dmajumder do you have the same?

[2018-05-02 10:17] oiorio opened #84 "94X version for ReReco"
I just made a PR from my repository for the 94X, adding the electron ID (with some slight modifications to the ElectronUserData), electron corrections, new JECs, MetNoHF and some examples.

Can somebody cross-check the recipe and the content? Note that this was not updated for ReMiniAOD.

[2018-05-02 11:30] dmajumder commented on #84
@oiorio thanks Orso. I'll have a look by early next week. BTW, while going through the code, did you find anything else that's missing and should be added?

[2018-05-02 12:05] oiorio commented on #84
@dmajumder I have not checked exactly all variables for analysis and for the new recipes, I'll do it in the next few days. All fundamental objects should be there.